.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.characters-container {
  max-width: 1200px;
  margin: 0 auto;
}

.characters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.character-card {
  background-color: #3c3e44;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.character-card img {
  width: 100%;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;

}

.pagination button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
